<main id="content">
  <div class="parallax-container valign-wrapper">
    <div class="container">
      <div class="section" id="index-banner">
        <h1 class="main-header cyan-text text-darken-4"></h1>
        <div class="row">
          <h5 class="header col s12 light">
            A Self Motivated Software Developer
          </h5>
        </div>
        <div class="row">
          <a
            id="banner-btn"
            class="btn-large waves-effect waves-light cyan darken-3"
            href="#projects"
            >Projects</a
          >
          <a
            id="banner-btn"
            class="btn-large waves-effect waves-light blue-grey"
            href="https://firebasestorage.googleapis.com/v0/b/chamath-wanigasooriya.appspot.com/o/Chamath_Wanigasooriya.pdf?alt=media&token=d1e34e80-6155-4373-a4f5-96d44cb15b10"
            target="_blank"
            >Download Resume</a
          >
        </div>
        <br />
      </div>
    </div>

    <div class="parallax">
      <img
        src="../../../assets/banner.png"
        class="responsive-img hide-on-med-and-down"
      />
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
        <div class="container">
          <h4>About Me</h4>
          <p>
            I am a quick learner and self starter person and can adopt any kind
            of work environment quickly. My objective is to secure a position
            where I could learn new technologies with practical applications
            that would be useful for the growth of the organization & further
            enhance my career prospect through continuous learning as well as to
            excel in my field by hard work, research, skill and perseverance
            thereby contributing my best to the organization's success and my
            personal growth.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m3 l2 hide-on-med-and-down">
      <div class="toc-wrapper" id="toc-wrapper">
        <ul class="section table-of-contents">
          <li><a href="#introduction">About Me</a></li>
          <li><a href="#confident">What I'm Good At</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#work">Work Experience</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#qualifications">Qualifications</a></li>
          <li><a href="#publications">Publications</a></li>
          <li><a href="#tools">What I Use</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m9 l10">
        <div id="confident" class="section scrollspy">
          <div class="container">
            <h4>What I'm Good At</h4>

            <ul class="confident">
              <li>
                Website and software application designing, building, or
                maintaining.
              </li>
              <li>
                Using scripting or authoring languages, management tools,
                content creation tools, applications, and digital media.
              </li>
              <li>
                Conferring with teams to resolve conflicts, prioritize needs,
                develop content criteria, or choose solutions.
              </li>
              <li>Directing or performing Website updates.</li>
              <li>
                Developing or validating test routines and schedules to ensure
                that test cases mimic external interfaces and address all
                browser and device types.
              </li>
              <li>
                Editing, writing, or designing Website content, and directing
                team members who produce content.
              </li>
              <li>
                Maintaining an understanding of the latest Web applications and
                programming practices through education, study, and
                participation in conferences, workshops, and groups.
              </li>
              <li>
                Identifying problems uncovered by customer feedback and testing,
                and correcting or referring problems to appropriate personnel
                for correction.
              </li>
              <li>
                Evaluating code to ensure it meets industry standards, is valid,
                is properly structured,and is compatible with browsers, devices,
                or operating systems.
              </li>
              <li>
                Determining user needs by analyzing technical requirements.
              </li>
            </ul>
          </div>
        </div>

        <div id="projects" class="section scrollspy">
          <div class="container">
            <h4>Projects</h4>
            <ul class="collection rounded-item">
              <li class="collection-item avatar">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Tensorflow_logo.svg/112px-Tensorflow_logo.svg.png"
                  class="circle"
                />
                <span class="title"
                  >MNIST Handwritten Digit Classification</span
                >
                <p>
                  Angular App with Object Detection and Digit Recognizer, Using
                  TensorFlow.js & MNIST Handwritten Digit Classification.
                </p>
              </li>
              <li class="collection-item avatar">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/8812/8812428.png"
                  class="circle"
                />
                <span class="title">University Results Management System</span>
                <p>Angular Application for University Results Management</p>
              </li>
              <li class="collection-item avatar">
                <img
                  src="https://icon-library.com/images/google-translate-icon/google-translate-icon-28.jpg"
                  class="circle"
                />
                <span class="title">English-Sinhala Android Translator</span>
                <p>An Android App to Translate English Words to Sinhala.</p>
              </li>
              <li class="collection-item avatar">
                <img
                  src="https://logodix.com/logo/2013274.png"
                  class="circle"
                />
                <span class="title">Student Management System</span>
                <p>Java Student Management System.</p>
              </li>
              <li class="collection-item avatar">
                <img
                  src="https://image.winudf.com/v2/image1/Y2MuYmx5bmtfaWNvbl8xNTU0ODI2Njc2XzAxNw/icon.png?fakeurl=1&h=160&type=webp"
                  class="circle"
                />
                <span class="title">Arduino Phone Follower</span>
                <p>
                  An arduino project using u-Blox neo 6m GPS + QMC5883L & HC-06
                  bluetooth that follows a phone
                </p>
              </li>
              <li class="collection-item avatar">
                <img
                  src="https://www.nicepng.com/png/full/256-2564814_piano-logo-may-19-piano-teaching-logo.png"
                  class="circle"
                />
                <span class="title">MIDI-Piano</span>
                <p>Android Piano App</p>
              </li>
              <li class="collection-item avatar">
                <img
                  src="https://www.edmission.in/images/study-material/study-material.png"
                  class="circle"
                />
                <span class="title"
                  >Educational Institute Management System</span
                >
                <p>
                  Website for an institute to manage students' enrolment and the
                  reservations of the institutes' auditorium online. PHP +
                  Javascript + Materialize CSS.
                </p>
              </li>
            </ul>
            <a href="https://github.com/CSWanigasooriya">View All</a>
          </div>
        </div>

        <div
          id="work"
          class="section scrollspy grey lighten-1 rounded-item hoverable"
        >
          <div class="container">
            <h4>Experience</h4>
            <div class="row">
              <div class="col s12">
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        CodeGen International (Pvt) Ltd. |
                        <span>Software Engineer</span>
                      </h5>
                      <p>July 2022 - Present</p>
                      <p>
                        <strong>Senior Software Engineer (August 2024 - Present)</strong>
                      </p>
                      <p>July 2022 - Present</p>
                      <p>
                        <strong>Software Engineer (July 2023 - August 2024)</strong>
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Resolved performance issues in applications running on
                        AWS EC2, ECS, and Docker containers.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Developed Java enhancements to ensure stable and
                        efficient application functionality, with experience in
                        Spring, JSP frameworks, Java Beans, Tomcat, and ORM.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Familiar with caching solutions using Redis and
                        Hazelcast to improve application performance.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Designed and implemented microservices, improving
                        scalability and maintainability.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Worked on Java aspects of applications with a modular
                        monolithic architecture, utilizing both SOAP and REST
                        services.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Automated configuration and environment setups,
                        enhancing deployment processes.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Created tools to automate team tasks, leading to process
                        improvements and increased efficiency.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Handled client interactions to gather requirements and
                        provide technical support.
                      </p>

                      <p>
                        <strong
                          >Associate Software Engineer (Jan 2023 - July
                          2023)</strong
                        >
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Handled performance-related issues and other reported
                        defects for a top-ranked Fortune 500 client.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Used Splunk for system log analysis and issue
                        identification.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Diagnosed and resolved performance bottlenecks in Java
                        applications.
                      </p>

                      <p>
                        <strong>Graduate Trainee (July 2022 - Dec 2022)</strong>
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Created the project's first GitLab pipeline, automating
                        build, test, and deployment processes.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Gained hands-on experience in software development and
                        testing.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Participated in code reviews and team meetings, learning
                        industry best practices and software engineering
                        principles.
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>

                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        The AI Team |
                        <span>Frontend Developer (Contract Basis) </span>
                      </h5>
                      <p>Feb 2022 - Present</p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Worked on an e-commerce platform.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Angular, NX Monorepo, Nebular.
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Freelance | <span>Frontend Developer (Part Time)</span>
                      </h5>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Worked on a fully functional vehicle spare part trading
                        platform and a few other projects.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Angular, Angular Material, and Firebase.
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div
          id="education"
          class="section scrollspy grey lighten-2 rounded-item hoverable"
        >
          <div class="container">
            <h4>Education</h4>
            <div class="row">
              <div class="col s12">
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>University of Westminster | <span>Graduate</span></h5>
                      <p>Expected May 2025</p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        MSc. Advanced Software Engineering
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Relevant Coursework: Machine Learning, Enterprise
                        Application Development, Big Data, Concurrent Systems
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>

                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Kotelawala Defence University, Rathmalana |
                        <span>Undergraduate</span>
                      </h5>
                      <p>2019-2022</p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        BSc (Hons) Software Engineering | GPA: 3.68
                      </p>
                      <p>
                        <a
                          href="https://www.kdu.ac.lk/Faculty-of-Computing/2019/08/05/codefest2019/"
                        >
                          <i
                            class="material-icons"
                            style="display: inline-flex; vertical-align: top"
                            >keyboard_arrow_right</i
                          >
                          4<sup>th</sup> Place | Code Fest Competition 2019</a
                        >
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Member of the Rotaract Club.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Member of the Electronics Robotics and Innovation Club.
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>

                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Regent International College, Gampaha |
                        <span>Student</span>
                      </h5>
                      <p>2001-2017</p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Senior Prefect | 2016-2017
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Junior Prefect | 2015-2016
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        House Vice Captain | 2015-2016
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Member of Cricket Pool.
                      </p>
                      <p>
                        <i
                          class="material-icons"
                          style="display: inline-flex; vertical-align: top"
                          >keyboard_arrow_right</i
                        >
                        Member of Science Society.
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div
          id="qualifications"
          class="section scrollspy grey lighten-3 rounded-item hoverable"
        >
          <div class="container">
            <h4>Certifications</h4>
            <div class="row">
              <div class="col s12">
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Professional Certificate in Data Mining & Machine
                        Learning
                      </h5>
                      <p>
                        <a
                          href="https://www.udemy.com/certificate/UC-40f5cce8-5dcf-4f3b-a788-5175c7564aff/"
                          target="_blank"
                          >https://www.udemy.com/certificate/UC-40f5cce8-5dcf-4f3b-a788-5175c7564aff</a
                        >
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>Professional Certificate in Data Science</h5>
                      <p>
                        <a
                          href="https://www.udemy.com/certificate/UC-7b7c7c8e-04fb-4843-b27f-f46ac1877922/"
                          target="_blank"
                          >https://www.udemy.com/certificate/UC-7b7c7c8e-04fb-4843-b27f-f46ac1877922</a
                        >
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>TensorFlow 2 QuickStart for Beginners</h5>
                      <p>
                        <a
                          href="https://www.udemy.com/certificate/UC-ee8b1acb-8de8-4e86-8661-3894246dc6b4/"
                          target="_blank"
                          >https://www.udemy.com/certificate/UC-ee8b1acb-8de8-4e86-8661-3894246dc6b4</a
                        >
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Machine Learning & Data Science Bootcamp with R & Python
                      </h5>
                      <p>
                        <a
                          href="https://www.udemy.com/certificate/UC-42ee97d0-b555-4720-ac2a-1e745830e762/"
                          target="_blank"
                          >https://www.udemy.com/certificate/UC-42ee97d0-b555-4720-ac2a-1e745830e762</a
                        >
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>JavaScript (Basic) Certificate</h5>
                      <p>
                        <a
                          href="https://www.hackerrank.com/certificates/2980cb3f3ee8"
                          target="_blank"
                          >https://www.hackerrank.com/certificates/2980cb3f3ee8</a
                        >
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>SQL (Basic) Certificate</h5>
                      <p>
                        <a
                          href="https://www.hackerrank.com/certificates/4514575271e8"
                          target="_blank"
                          >https://www.hackerrank.com/certificates/4514575271e8</a
                        >
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>Java (Basic) Certificate</h5>
                      <p>
                        <a
                          href="https://www.hackerrank.com/certificates/09ca36bfe3bb"
                          target="_blank"
                          >https://www.hackerrank.com/certificates/09ca36bfe3bb</a
                        >
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div
          id="publications"
          class="section scrollspy grey lighten-3 rounded-item hoverable"
        >
          <div class="container">
            <h4>Publications</h4>
            <div class="row">
              <div class="col s12">
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Blockchain-based Intellectual Property Management Using
                        Smart Contracts |
                        <span>2nd KDU FOC Student Symposium 2021</span>
                      </h5>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Emotion Based Conditional Gaming Experience Design Using
                        Kansei Engineering |
                        <span>Colombo SIGCHI Research Showcase 2021 </span>
                      </h5>
                      <p>
                        <a
                          href="https://colombosigchi.medium.com/?p=4b48aa65afab"
                        >
                          <i
                            class="material-icons"
                            style="display: inline-flex; vertical-align: top"
                            >keyboard_arrow_right</i
                          >
                          Medium Blog
                        </a>
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Models, Developments, Trends, and Evaluation of Software
                        Product Qualities: A Review Engineering |
                        <span>2nd KDU FOC Student Symposium 2021. </span>
                      </h5>
                      <p>
                        <a
                          href="https://www.researchgate.net/publication/358860766_Models_Developments_Trends_and_Evaluation_of_Software_Product_Qualities_A_Review"
                        >
                          <i
                            class="material-icons"
                            style="display: inline-flex; vertical-align: top"
                            >keyboard_arrow_right</i
                          >
                          Research Gate
                        </a>
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Selecting a Software Development Methodology for
                        Decentralized Applications |
                        <span>Review, 2021</span>
                      </h5>
                      <p>
                        <a
                          href="https://www.researchgate.net/publication/357928703_Selecting_a_Software_Development_Methodology_for_Decentralized_Applications"
                        >
                          <i
                            class="material-icons"
                            style="display: inline-flex; vertical-align: top"
                            >keyboard_arrow_right</i
                          >
                          Research Gate
                        </a>
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>
                        Exploring the Evolution and Modern Trends of
                        Cryptocurrency |
                        <span>Review, 2021</span>
                      </h5>
                      <p>
                        <a
                          href="https://medium.com/@chamathwanigasooriya/exploring-the-evolution-and-modern-trends-of-cryptocurrency-a-review-ad4134e1ea0a"
                        >
                          <i
                            class="material-icons"
                            style="display: inline-flex; vertical-align: top"
                            >keyboard_arrow_right</i
                          >
                          Medium Blog
                        </a>
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tools" class="section scrollspy">
          <div class="container">
            <h4>Few Tools I Use</h4>
            <div class="row">
              <div class="col s12">
                <!-- Tool 1 -->
                <div class="col s6 m4 l3">
                  <div class="card hoverable waves-effect">
                    <div class="card-image">
                      <a href="https://angular.io/" target="_blank">
                        <img
                          class="responsive-img"
                          style="height: 150px; object-fit: contain"
                          src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
                          alt="Angular Logo"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Tool 2 -->
                <div class="col s6 m4 l3">
                  <div class="card hoverable waves-effect">
                    <div class="card-image">
                      <a href="https://firebase.google.com/" target="_blank">
                        <img
                          class="responsive-img"
                          style="height: 150px; object-fit: contain"
                          src="https://img.icons8.com/color/480/000000/firebase.png"
                          alt="Firebase Logo"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Tool 3 -->
                <div class="col s6 m4 l3">
                  <div class="card hoverable waves-effect">
                    <div class="card-image">
                      <a href="https://code.visualstudio.com/" target="_blank">
                        <img
                          class="responsive-img"
                          style="height: 150px; object-fit: contain"
                          src="https://ubuntuhandbook.org/wp-content/uploads/2017/05/vscode-icon245.png"
                          alt="VSCode Logo"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Tool 5 -->
                <div class="col s6 m4 l3">
                  <div class="card hoverable waves-effect">
                    <div class="card-image">
                      <a href="https://www.jetbrains.com/idea/" target="_blank">
                        <img
                          class="responsive-img"
                          style="height: 150px; object-fit: contain"
                          src="https://resources.jetbrains.com/storage/products/company/brand/logos/IntelliJ_IDEA_icon.png"
                          alt="IntelliJ IDEA Logo"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a
      class="btn-floating btn-large cyan darken-3"
      id="menu"
      href="mailto:chamathwanigasooriya@gmail.com"
    >
      <i class="large material-icons">mail</i>
    </a>
  </div>
</main>

<!-- Tap Target Structure -->
<div class="tap-target teal" data-target="menu">
  <div class="tap-target-content">
    <h5>Hey There!</h5>
    <p>Click here to contact me.</p>
  </div>
</div>
