<main id="content">
  <div class="parallax-container valign-wrapper">
    <div class="container">
      <div class="section" id="index-banner">
        <h1 class="main-header cyan-text text-darken-4"></h1>
        <div class="row ">
          <h5 class="header col s12 light">A Self Motivated Software Developer
          </h5>
        </div>
        <div class="row">
          <a id="banner-btn" class="btn-large waves-effect waves-light cyan darken-3" href="#projects">Projects</a>
          <a id="banner-btn" class="btn-large waves-effect waves-light blue-grey"
            href="https://firebasestorage.googleapis.com/v0/b/chamath-wanigasooriya.appspot.com/o/LatexResume.pdf?alt=media&token=950e9582-1c30-4ce4-8a42-e7db2c98b331"
            target="_blank">Download
            Resume</a>
        </div>
        <br>
      </div>
    </div>

    <div class="parallax">
      <img src="../../../assets/banner.png" class="responsive-img hide-on-med-and-down">
    </div>

  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
        <div class="container">
          <h4>About Me</h4>

          <p>I am a quick learner and self starter person and can adopt any kind of work environment
            quickly. My objective is to secure a position where I could learn new technologies with
            practical applications that would be useful for the growth of the organization & further
            enhance my career prospect through continuous learning as well as to excel in my field by
            hard work, research, skill and perseverance thereby contributing my best to the
            organization's success and my personal growth</p>
        </div>
      </div>
    </div>

    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper pushpin-toc pin-top">
        <!-- <div class="toc-wrapper"> -->
        <ul class="section table-of-contents">
          <li><a href="#introduction">About Me</a></li>
          <li><a href="#confident">What I'm Good At</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#work">Work Experience</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#qualifications">Qualifications</a></li>
          <li><a href="#publications">Publications</a></li>
          <li><a href="#tools">What I Use</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m9 l10">
        <div id="confident" class="section scrollspy">
          <div class="container">
            <h4>What I'm Good At</h4>

            <ul class="confident">
              <li>Website and software application designing, building, or maintaining. </li>
              <li>Using scripting or authoring languages, management tools, content creation tools,
                applications, and digital media. </li>
              <li>Conferring with teams to resolve conflicts, prioritize needs, develop content
                criteria,
                or choose solutions. </li>
              <li>Directing or performing Website updates. </li>
              <li>Developing or validating test routines and schedules to ensure that test cases mimic
                external interfaces and address all browser and device types. </li>
              <li>Editing, writing, or designing Website content, and directing team members who
                produce
                content. </li>
              <li>Maintaining an understanding of the latest Web applications and programming
                practices
                through education, study, and participation in conferences, workshops, and groups.
              </li>
              <li>Identifying problems uncovered by customer feedback and testing, and correcting or
                referring
                problems to appropriate personnel for correction. </li>
              <li>Evaluating code to ensure it meets industry standards, is valid, is properly
                structured,and is compatible with browsers, devices, or operating systems. </li>
              <li> Determining user needs by analyzing technical requirements. </li>
            </ul>
          </div>


        </div>

        <div id="projects" class="section scrollspy">
          <div class="container">

            <h4>Projects</h4>
            <ul class="collection rounded-item">
              <li class="collection-item avatar">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Tensorflow_logo.svg/112px-Tensorflow_logo.svg.png"
                  class="circle">
                <span class="title">MNIST Handwritten Digit Classification</span>
                <p>Angular App with Object Detection and Digit Recognizer, Using TensorFlow.js &
                  MNIST
                  Handwritten Digit Classification.</p>
              </li>
              <li class="collection-item avatar">
                <img src="https://icons-for-free.com/iconfiles/png/512/school+24px-131987943387948929.png"
                  class="circle">
                <span class="title">University Results Management System</span>
                <p>Angular Application for University Results Management</p>
              </li>
              <li class="collection-item avatar">
                <img src="https://icon-library.com/images/google-translate-icon/google-translate-icon-28.jpg"
                  class="circle">
                <span class="title">English-Sinhala Android Translator</span>
                <p>An Android App to Translate English Words to Sinhala.</p>
              </li>
              <li class="collection-item avatar">
                <img src="https://logodix.com/logo/2013274.png" class="circle">
                <span class="title">Student Management System</span>
                <p>Java Student Management System.</p>
              </li>
              <li class="collection-item avatar">
                <img
                  src="https://image.winudf.com/v2/image1/Y2MuYmx5bmtfaWNvbl8xNTU0ODI2Njc2XzAxNw/icon.png?fakeurl=1&h=160&type=webp"
                  class="circle">
                <span class="title">Arduino Phone Follower</span>
                <p>An arduino project using u-Blox neo 6m GPS + QMC5883L & HC-06 bluetooth that
                  follows
                  a phone</p>
              </li>
              <li class="collection-item avatar">
                <img src="https://www.nicepng.com/png/full/256-2564814_piano-logo-may-19-piano-teaching-logo.png"
                  class="circle">
                <span class="title">MIDI-Piano</span>
                <p>Android Piano App</p>
              </li>
              <li class="collection-item avatar">
                <img src="https://www.edmission.in/images/study-material/study-material.png" class="circle">
                <span class="title">Educational Institute Management System</span>
                <p>Website for an institute to manage students' enrolment and the reservations of
                  the
                  institutes' auditorium online. PHP + Javascript + Materialize CSS.</p>
              </li>
            </ul>
            <a href="https://github.com/CSWanigasooriya">View All</a>
          </div>
        </div>


        <div id="work" class="section scrollspy grey lighten-1 rounded-item hoverable">
          <div class="container">
            <h4>Experience</h4>
            <div class="row">
              <div class="col s12">
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>The AI Team | <span>Frontend Developer (Contract Basis) </span></h5>
                      <p>2022 Feb-Present</p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        Working on an e-commerce platform.
                      </p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        Angular, NX Monorepo, Nebular.
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>National Youth Services Council | <span>IT Demonstrator</span></h5>
                      <p>2018 Jan-June</p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        Full Time.
                      </p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        Taught Word Processing, Computer Graphics & fundamentals.
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>Freelance | <span>Part Time</span></h5>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        Worked on a fully functional vehicle spare part trading platform and few other projects.

                      </p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        Angular, Angular Material, and Firebase.
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div id="education" class="section scrollspy grey lighten-2 rounded-item hoverable">
          <div class="container">
            <h4>Education</h4>
            <div class="row">
              <div class="col s12">
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>Kotelawala Defence University, Rathmalana |
                        <span>Undergraduate</span>
                      </h5>
                      <p>2019-Present</p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        BSc (Hons) Software Engineering
                      </p>
                      <p>
                        <a href="https://www.kdu.ac.lk/Faculty-of-Computing/2019/08/05/codefest2019/">
                          <i class="material-icons" style="display: inline-flex;
                                                    vertical-align: top;">keyboard_arrow_right</i>
                          4<sup>th</sup> Place | Code Fest Competition 2019</a>
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>

                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>Regent International College, Gampaha | <span>Student</span> </h5>
                      <p>2001-2017</p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        Senior Prefect | 2016-2017
                      </p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        Junior Prefect | 2015-2016
                      </p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        House Vice Captain | 2015-2016
                      </p>
                      <p>
                        <i class="material-icons" style="display: inline-flex;
                                                vertical-align: top;">keyboard_arrow_right</i>
                        Member of Cricket Pool
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div id="qualifications" class="section scrollspy grey lighten-3 rounded-item hoverable">
          <div class="container">
            <h4>Qualifications</h4>
            <div class="row">
              <div class="col s12">
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>CCHRM | <span>NYSC Sri Lanka</span></h5>
                      <p>2018 Jan-June</p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>

                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>NVQ 4 - ICT Technician | <span>NYSC Sri Lanka</span> </h5>
                      <p>2017 Jul-Dec</p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div id="publications" class="section scrollspy grey lighten-3 rounded-item hoverable">
          <div class="container">
            <h4>Publications</h4>
            <div class="row">
              <div class="col s12">
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>Emotion Based Conditional Gaming Experience Design Using Kansei
                        Engineering | <span>Conference: Colombo SIGCHI Research Showcase
                          2021
                        </span></h5>
                      <p>
                        <a href="https://colombosigchi.medium.com/?p=4b48aa65afab">
                          <i class="material-icons" style="display: inline-flex;
                                                    vertical-align: top;">keyboard_arrow_right</i>
                          Medium Blog
                        </a>
                      </p>
                    </div>
                    <div class="col m1 s2">
                    </div>
                  </div>
                  <div class="divider"></div>

                </div>
                <div class="section">
                  <div class="row valign-wrapper">
                    <div class="col m11 s10">
                      <h5>Exploring the Evolution and Modern Trends of Cryptocurrency |
                        <span>Article, 2021</span>
                      </h5>
                      <p>
                        <a
                          href="https://www.researchgate.net/publication/353012734_Exploring_the_Evolution_and_Modern_Trends_of_Cryptocurrency_A_Review">
                          <i class="material-icons" style="display: inline-flex;
                                                    vertical-align: top;">keyboard_arrow_right</i>
                          Research Gate
                        </a>
                      </p>
                    </div>
                    <div class="col m1 s2"></div>
                  </div>
                  <div class="divider"></div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tools" class="section scrollspy">
          <div class="container">
            <h4>Few Tools I Use</h4>
            <div class="row">
              <div class="col s12">
                <div class="col s3">
                  <div class="card hoverable waves-effect">
                    <div class="card-image">
                      <img class="responsive-img"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/375px-Angular_full_color_logo.svg.png">
                    </div>
                  </div>
                </div>
                <div class="col s3">
                  <div class="card hoverable waves-effect">
                    <div class="card-image">
                      <img class="responsive-img" src="https://img.icons8.com/color/480/000000/firebase.png">
                    </div>
                  </div>
                </div>
                <div class="col s3">
                  <div class="card hoverable waves-effect">
                    <div class="card-image">
                      <img class="responsive-img"
                        src="https://ubuntuhandbook.org/wp-content/uploads/2017/05/vscode-icon245.png">
                    </div>
                  </div>
                </div>
                <div class="col s3">
                  <div class="card hoverable waves-effect">
                    <div class="card-image">
                      <img class="responsive-img"
                        src="https://2.bp.blogspot.com/-tzm1twY_ENM/XlCRuI0ZkRI/AAAAAAAAOso/BmNOUANXWxwc5vwslNw3WpjrDlgs9PuwQCLcBGAsYHQ/s1600/pasted%2Bimage%2B0.png">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large cyan darken-3" id="menu" href="mailto:chamathwanigasooriya@gmail.com">
      <i class="large material-icons">mail</i>
    </a>
  </div>
</main>

<!-- Tap Target Structure -->
<div class="tap-target teal" data-target="menu">
  <div class="tap-target-content">
    <h5>Hey There!</h5>
    <p>Click here to contact me.</p>
  </div>
</div>
