<header>
  <div class="navbar-fixed">
    <nav class="transparent z-depth-0">
      <div class="nav-wrapper">
        <a data-target="slide-out" class="sidenav-trigger btn blue darken-3 menu-btn"><i
            class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="../assets/wallpaper.png">
        </div>
        <a><img class="circle" src="../assets/avatar.jpg"></a>
        <a><span class="white-text name">Chamath Wanigasooriya</span></a>
        <a><span class="white-text email">chamathwanigasooriya@gmail.com</span></a>
      </div>
    </li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="tab collapsible-header waves-effect waves-blue" [routerLink]="['']"><i
            class="material-icons">person</i>Profile</a>
        <div class="collapsible-body">
        </div>
      </li>
      <li>
        <a class="collapsible-header waves-effect waves-blue" [routerLink]="['/second']"><i
            class="material-icons">business_center</i>Second Year Project</a>
        <div class="collapsible-body">
        </div>
      </li>
      <li>
        <a class="collapsible-header waves-effect waves-blue" [routerLink]="['/final']"><i
            class="material-icons">apartment</i>Final
          Year Project</a>
        <div class="collapsible-body">
        </div>
      </li>
    </ul>
  </ul>
</header>


<router-outlet></router-outlet>

<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact Me</h5>
        <p class="grey-text text-lighten-4">+94762992256</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/cswanigasooriya">Facebook</a></li>

          <li><a class="grey-text text-lighten-3" href="https://github.com/CSWanigasooriya">GitHub</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/CSWanigasooriya">Twitter</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://linkedin.com/in/cswanigasooriya">LinkedIn</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="mailto:chamathwanigasooriya@gmail.com">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Chamath Wanigasooriya
      <a class="grey-text text-lighten-4 right"
        href="https://www.google.com/search?q=chamath+wanigasooriya&oq=chamath+wanigasooriya&aqs=chrome..69i57j0i333l4j69i61.6042j0j7&sourceid=chrome&ie=UTF-8">More
        Links</a>
    </div>
  </div>
</footer>