<main id="content">
  <div class="parallax-container valign-wrapper">
      <div class="container">
          <div class="section" id="index-banner">
              <h1 class="cyan-text text-darken-4">Final Year Project</h1>
              <div class="row">
                  <h5 class="header col s12 light">VIMBAL: A Decentralized Publication System for Open Research</h5>
              </div>
              <br>
          </div>
      </div>
      <div class="parallax">
          <img src="../../../assets/second.jpg" class="responsive-img hide-on-med-and-down">
      </div>
  </div>
  <div class="divider"></div>
  <div class="row">
      <div class="col s12 m9 l10">
          <div id="introduction" class="section scrollspy">
              <div class="container">
                  <h4>Decentralized Publication System for Open Research</h4>
                  <p>Concerns regarding fairness, quality, performance, cost, and accuracy arise when science is published and peer-reviewed. The Open Access movement has failed to deliver on all its promises, and intermediaries’ publishers can still enforce regulations and profit concentrations. Existing publication platforms have several serious flaws. First, rather than encouraging extensive knowledge sharing, access to publications on publisher-owned platforms is typically charged. Furthermore, most present publication systems (including both open access and publisher platforms) are prone to inefficient peer review since reviewers are not properly compensated for delivering high-quality reviews.</p>
                  <p>A decentralized publication system for open research using upcoming distributed technologies like Blockchain creates transparent governance. The proposed decentralized network combines the Ethereum blockchain and Smart Contracts with the Interplanetary File System (a peer-to-peer hypermedia protocol) to get science published and into everyone's hands for free. Reviewers and authors will be rewarded with cryptocurrencies under the proposed scheme.</p>
              </div>
          </div>
          <div id="problems" class="section scrollspy">
              <div class="container">
                  <h4>What Problems will this solve?</h4>
                  <ul class="confident">
                      <li>Ensures fairness, quality, performance, cost, and accuracy in science publication and peer review.</li>
                      <li>Reduces the control and profit concentration of intermediary publishers.</li>
                      <li>Encourages extensive knowledge sharing by providing free access to publications.</li>
                      <li>Improves peer review efficiency by properly compensating reviewers.</li>
                      <li>Creates transparent governance in publication systems using Blockchain technology.</li>
                      <li>Rewards reviewers and authors with cryptocurrencies.</li>
                  </ul>
              </div>
          </div>
          <div id="technology" class="section scrollspy">
              <div class="container">
                  <h4>Technology</h4>
                  <ul class="confident">
                      <li>Ethereum Smart Contracts</li>
                      <li>Solidity (Programming Language)</li>
                      <li>Interplanetary File System (IPFS)</li>
                  </ul>
              </div>
          </div>
          <div id="abstract" class="section scrollspy">
              <div class="container">
                  <h4>Abstract</h4>
                  <p>Concerns regarding fairness, quality, performance, cost, and accuracy arise when
                      science is published, and peer reviewed. The Open Access movement has failed to
                      deliver on all its promises, and intermediaries’ publishers can still enforce regulations
                      and profit concentrations. Existing publication platforms have several serious flaws.
                      First, rather than encouraging extensive knowledge sharing, access to publications on
                      publisher-owned platforms is typically charged. Furthermore, most present publication
                      systems (including both open access and publisher platforms) are prone to inefficient
                      peer review since reviewers are not properly compensated for delivering high-quality
                      reviews. A decentralized publication system for open research using upcoming
                      distributed technologies like Blockchain creates a transparent governance. The
                      proposed decentralized network combines the Ethereum blockchain and Smart
                      Contracts with the Interplanetary File System (a peer-to-peer hypermedia protocol) to
                      get science published and into everyone's hands for free. Reviewers and authors will
                      be rewarded with cryptocurrencies under the proposed scheme.</p>
                  <p><strong>Keywords</strong> - Blockchain, Ethereum, Editorial Management, IPFS, Open access,
                      Peer-to-Peer Networks</p>
              </div>
          </div>
      </div>
      <div class="col hide-on-small-only m3 l2">
          <div class="toc-wrapper pushpin-toc pin-top">
              <ul class="section table-of-contents">
                  <li><a href="#introduction">Introduction</a></li>
                  <li><a href="#problems">Problems</a></li>
                  <li><a href="#technology">Technology</a></li>
                  <li><a href="#abstract">Abstract</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="fixed-action-btn">
      <a class="btn-floating btn-large cyan darken-3" id="menu" href="mailto:chamathwanigasooriya@gmail.com">
          <i class="large material-icons">mail</i>
      </a>
  </div>
</main>

<!-- Tap Target Structure -->
<div class="tap-target teal" data-target="menu">
  <div class="tap-target-content">
      <h5>Hey There!</h5>
      <p>Click here to contact me.</p>
  </div>
</div>
