<main id="content">
    <div class="parallax-container valign-wrapper">
        <div class="container">
            <div class="section" id="index-banner">
                <h1 class="cyan-text text-darken-4">Final Year Project</h1>
                <div class="row ">
                    <h5 class="header col s12 light">Project Concepts (Subject to Change)
                    </h5>
                </div>
                <br>
            </div>
        </div>

        <div class="parallax">
            <img src="../../../assets/second.jpg" class="responsive-img hide-on-med-and-down">
        </div>

    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="introduction" class="section scrollspy">
                <div class="container">
                    <h4>IP Management using Smart Contracts</h4>

                    <p>Managing intellectual property (IP) used to entail filing patents and trademark registrations.
                        Unregistered IP rights were largely ignored, and even registered IP rights were viewed as a
                        one-time event involving mostly technical and administrative procedures. To preserve ownership
                        and control over IP assets while boosting employee mobility, both technical and legal procedures
                        must be in place. Companies may build a chronology for any IP assets with little work, minimal
                        expense, and worldwide validity using a revolutionary IP management system based on a public
                        blockchain and a versioned repository. There are a number of potential roadblocks in the way of
                        a large-scale legal application (including questions of governing laws and jurisdictions, data
                        security and privacy concerns). Despite this, in the context of IP-heavy sectors, blockchain and
                        associated distributed ledger technology present obvious opportunities for IP protection,
                        registration, and evidence, whether at the registry level or in court.</p>
                </div>
            </div>
        </div>

        <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper pushpin-toc pin-top">
                <!-- <div class="toc-wrapper"> -->
                <ul class="section table-of-contents">
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#confident">Problems</a></li>
                    <li><a href="#projects">Technology</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m9 l10">
                <div id="confident" class="section scrollspy">
                    <div class="container">
                        <h4>What Problems will this solve?</h4>

                        <ul class="confident">
                            <li>Companies that control copyrights will have a better foundation for data that can
                                catalog all versions, iterations and contributions to a single asset.</li>
                            <li>The real-time flow of licensing and payments is captured. </li>
                            <li>Third-parties or the creator can see the complete chain of ownership of a work including
                                licenses, sublicenses and assignments.</li>
                            <li>By digitally encoding the rights, royalty payments would become more reliable and
                                efficient.</li>
                            <li>The blockchain could be used as proof of the contracts and the payments made.</li>
                            <li>Smart contracts could be used to establish and enforce IP agreements such as licenses
                                and allow the transmission of payments in real time to IP owners; “smart information”
                                about IP rights in protected content, a song or an image, for example, could be encoded
                                in digital form (in a music or an image file).</li>
                        </ul>
                    </div>
                </div>

                <div id="projects" class="section scrollspy">
                    <div class="container">

                        <h4>Technology</h4>
                        <ul class="confident">
                            <li>Ethereum Smart Contracts</li>
                            <li>Solidity (Programming Language), etc.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large cyan darken-3" id="menu" href="mailto:chamathwanigasooriya@gmail.com">
            <i class="large material-icons">mail</i>
        </a>
    </div>
</main>

<!-- Tap Target Structure -->
<div class="tap-target teal" data-target="menu">
    <div class="tap-target-content">
        <h5>Hey There!</h5>
        <p>Click here to contact me.</p>
    </div>
</div>