<main id="content">
    <div class="parallax-container valign-wrapper">
        <div class="container">
            <div class="section" id="index-banner">
                <h1 class="cyan-text text-darken-4">Second Year Project</h1>
                <div class="row ">
                    <h5 class="header col s12 light">Results Management System <a href="https://github.com/CSWanigasooriya/Result-Management-System">(View)</a>
                    </h5>
                </div>
                <br>
            </div>
        </div>

        <div class="parallax">
            <img src="../../../assets/third.jpg" class="responsive-img hide-on-med-and-down">
        </div>

    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="introduction" class="section scrollspy">
                <div class="container">
                    <h4>Problem</h4>

                    <p>The process of results released at KDU is time consuming and tedious. This delay in the
                        release of results could cause disruption in the students’ lives and may limit the level of
                        improvement by reducing the time period they have to study for their repeat exams. In
                        addition, there is no way for the lecturers and the department to view a summarized report
                        of a student’s examination results. Part of the reason for this time lapse could be the use of
                        too many manual processes. We believe that if a majority of those processes were to be
                        computerized, the whole process would speed up and examination results could be made
                        available far earlier for the students. In addition, it would reduce the burden on the
                        administrative staff and make it easier for the lecturers to log in their respective results.
                    </p>
                </div>
            </div>
        </div>

        <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper pushpin-toc pin-top">
                <!-- <div class="toc-wrapper"> -->
                <ul class="section table-of-contents">
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#confident">Problems</a></li>
                    <li><a href="#projects">Solution</a></li>
                    <li><a href="#contribution">Contribution</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m9 l10">
                <div id="confident" class="section scrollspy">
                    <div class="container">
                        <h4>Solution</h4>

                        <p>The aim of this results management system would be to build an efficient and easy to use
                            system that could speed up the process of release of examination results.
                            Our system is based on issuing end-semester results, calculating the GPA of each student
                            of the Faculty of Computing at General Sir John Kotelawala Defense University and
                            finalizing it at the end of the final semester. This system’s purpose is also to further
                            diminish the long-time consumption for lecturers as well as when entering the marks into
                            the database. It will also reduce the amount of paperwork for each lecturer, the time taken
                            to pass-on the said paperwork to the other relevant persons.
                        </p>
                    </div>
                </div>

                <div id="projects" class="section scrollspy">
                    <div class="container">

                        <h4>Technology</h4>
                        <ul class="confident">
                            <li>Angular for Front-End</li>
                            <li>Firebase for realtime actions.</li>
                            <li>PHP for Database APIs</li>
                            <li>SQL as the main database</li>
                        </ul>
                    </div>
                </div>


                <div id="contribution" class="section scrollspy">
                    <div class="container">

                        <h4>Contribution</h4>
                        <p>I was the lead developer of the team, I was responsible for the handling and development of the php APIs, and also the main modules such as Login Modules, Authentication Guards, and the Lecturer Module, etc.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large cyan darken-3" id="menu" href="mailto:chamathwanigasooriya@gmail.com">
            <i class="large material-icons">mail</i>
        </a>
    </div>
</main>

<!-- Tap Target Structure -->
<div class="tap-target teal" data-target="menu">
    <div class="tap-target-content">
        <h5>Hey There!</h5>
        <p>Click here to contact me.</p>
    </div>
</div>